<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>

<div class="container mt-3">
    <div class="card">
        <div class="card-header">
            <span th:text="'Notes: ' +${notes.size()}"></span>
            <a href="/note/create" class="btn btn-sm btn-outline-primary">Створити нотатку</a>
        </div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <th>Заголовок</th>
                    <th>Контент</th>
                </tr>

                <tr th:each="note: ${notes}">
                    <td th:text="${note.title}"></td>
                    <td>
                        <span th:text="${note.content}"></span>
                        <a th:href="'/note/delete?id=' + ${note.id}"
                           class="btn btn-sm btn-outline-danger">Видалити</a>
                        <a th:href="'/note/update?id=' + ${note.id}"
                           class="btn btn-sm btn-outline-success">Редагувати</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>